* {
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
img {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 1px;
}
.boton {
    background-color: purple;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.boton:hover {
    opacity: .9;
}

.boton:focus {
    outline: none;
}