* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(51, 50, 50);
    color: rgb(10, 10, 10);
    overflow-x: hidden;
    margin: 0;
}

.contenedor {
    background-color: bisque;
    transform-origin: top left;
    transition: transfrom 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.contenedor.show-nav {
    transform: rotate(-20deg);
}

.circulo-contenedor {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circulo {
    background-color: tomato;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transfrom 0.5s linear;
}

.contenedor.show-nav .circulo {
    transform: rotate(-70deg);
}

.circulo button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: azure;
}

.circulo button:focus {
    outline: none;
}

.circulo button#abierto {
    left: 60%;
}

.circulo button#cerrado {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.contenedor.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: azure;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transfrom 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

nav a {
    color: bisque;
    text-decoration: none;
    transition: all 0.5s;
}

nav a:hover {
    color: tomato;
    font-weight: bold;
}

.contenido img {
    max-width: 100%;
    width: 50%;
    margin-left: 25%;
}

.contenido {
    max-width: 1000px;
    margin: 50px auto;
}

.contenido h1 {
    margin: 0;
}

.contenido small {
    color: rgb(53, 52, 52);
    font-style: italic;
}

.contenido p {
    color: rgb(54, 37, 37);
    line-height: 1.5;
}